@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
body {
  font-family: 'Bebas Neue', cursive;
}
h1 {
  font-size: 75px;
}
p {
  font-size: 25px;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Open Sans', sans-serif;
}
li {
  font-size: 25px;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Open Sans', sans-serif;
}
.twitter-timeline {
  margin-left: 15%;
  width: 60%;
}
hr {
  margin-left: 15%;
  margin-right: 15%;
}
