.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
body {
  font-family: 'Bebas Neue', cursive;
}
h1 {
  font-size: 75px;
}
.ank {
  background-color: #662D8E;
}
.twitter {
  margin-left: 15%;
  margin-right: 15%;
}
